
  body {
    background-color: #e1e5ea;
  }
  hr {
    border-style: none;
    border-top: dotted;
    border-width: 4px;
    border-color: grey;
    width: 280px;

  }
  h1 {
    color: #fa1e0e;
    font-family:"Arial";
    position: relative;


  }
  h3 {
    color: #ff005c;
    text-shadow: 2px 2px 8px red;
    font-variant: small-caps;
    border-style: dotted;
    border-radius: 102px;
    border-width: thin;
    border-bottom: dotted;
    border-bottom-color: #ff005c;
    border-color: grey;


  }
  img {
    border-color: red;
    border-radius: 102px;
    border-style: dotted;
  }
  p {
    font-family: Verdana;
  }
